<div class="section privacy">
    <div class="container">
        <div class="row">
            <div class="tab-nav">
                <div class="container">
                    <ul class="tabset">
                        <li><a href='' ui-sref="profile({ id: producer.owner._id })">My Account</a></li>
                        <li ng-hide="user.accountType == 'Consumer'" class=""><a href='' ui-sref="producer_edit({ producerId: producer._id })" class="active">My Profile</a></li>
                        <li ng-hide="user.accountType == 'Consumer'" class=""><a href='' ui-sref="project_edit({ projectId: '', producerId: producer._id })">My Projects</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="six columns">

                <h3>Producer Profile Information</h3>
                <p>
                    <label for="inpName">Business or Entity Name: </label>
                    <input type="hidden" ng-model="producer._id" name="hiddenId">
                    <input name="inpName" type="text" class="form-control" ng-model="producer.name" value="{{ producer.name }}">
                </p>
                <p>
                    <label for="inpDesc">Description: </label>
                    <textarea name="inpDesc" rows=6 cols=10 class="form-control" ng-model="producer.desc"></textarea>
                </p>

                <p>
                    <label for="selEnergyType">Energy Type: </label>
                    <select name="selEnergyType" id="selEnergyType" class="form-control" ng-model="producer.energyType" value="{{producer.energyType}}">
                        <option value="Wind">Wind</option>
                        <option value="Solar">Solar</option>
                        <option value="Hydro">Hydro</option>
                        <option value="Geo_Thermal">Geo-Thermal</option>
                        <option value="Biomass">Biomass</option>
                        <option value="Landfill Gas">Landfill Gas</option>
                        <option value="Other">Other</option>
                    </select>
                </p>
                <p>
                    <label for="inpAddress1">Address 1: </label>
                    <input name="inpAddress1" type="text" class="form-control" ng-model="producer.address1" value="{{ producer.address1 }}">
                </p>
                <p>
                    <label for="inpAddress2">Address 2: </label>
                    <input name="inpAddress2" type="text" class="form-control" ng-model="producer.address2" value="{{ producer.address2 }}">
                </p>
                <p>
                    <label for="inpCity">City: </label>
                    <input name="inpCity" type="text" class="form-control" ng-model="producer.city" value="{{ producer.city }}">
                </p>
                <p>
                    <label for="inpState">State: </label>
                    <input name="inpState" type="text" class="form-control" ng-model="producer.state" value="{{ producer.state }}">
                </p>
                <p>
                    <label for="inpZip">Zip: </label>
                    <input name="inpZip" type="text" class="form-control" ng-model="producer.zip" value="{{ producer.zip }}">
                </p>
                <p ng-hide="true">
                    <label for="inpApprovalNumber">Approval Number: </label>
                    <input name="inpState" type="text" class="form-control" ng-model="producer.approvalNumber" value="{{ producer.approvalNumber }}">
                </p>
            </div>

            <div class="six columns">
                <div class="five-columns">
                    <div class="info-box"><em>In your profile section, tell us a bit about the business or entity that is setting up or managing your clean energy projects.</em></div>
                </div>
            </div>
            <div class="six columns" ng-show="producer.uploads.length==0">
                <h3>Producer Profile Image</h3>
                <p><label for="file">Select Files</label></p>
                <p><input type="file" name="files" file-model="uploads" ng-show="!imageUploading"><circle-spinner ng-show="imageUploading"></circle-spinner></p>
                <p><a href='' ng-click='uploadImage()'>Upload Image</a></p>
            </div>

            <div class="three columns" ng-repeat="upload in producer.uploads" ng-show="producer._id">
                <div class="two-columns">
                    <section class="portfolio">
                        <div>
                            <div class="col">
                                <div class="promo-box">
                                    <div class="img-wrapper">
                                        <video controls="controls" preload="none"
                                               ng-show="upload.fileType.indexOf('mp4') != -1">
                                            <source type="video/mp4" ng-src="{{ upload.fileName }}" />
                                        </video>
                                        <img ng-src="{{upload.fileName}}"
                                             spinkit-image-preloader='rotating-plane-spinner'
                                             ng-show="upload.fileType.indexOf('mp4') == -1" />
                                    </div>
                                    <p class="right"><a href='' ng-click='deleteImage(upload._id)'>Delete Image</a></p>
                                </div>

                            </div>
                            <div class="col"></div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="six columns">
                <h3>Producer Updates</h3>
                <p><a ui-sref="update_edit({ producerId: producer._id })">Add an Update</a></p>
                <p ng-repeat="u in producer.updates"><a ui-sref="update_edit({ producerId: producer._id, updateId: u._id })">{{ u.title }}</a></p>
            </div>
        </div>

        <div class="row">
            <div class="three-columns">

            </div>
        </div>


    </div>
    <div class="twelve columns">
        <p class="link-update-project"><a href="" ng-click="saveProfile()">Update Project</a></p>
    </div>
</div>